{% extends "website_index/base.html" %}

{% block content %}
  <p>注册注意事项：</p>
  <ul>
    <li>1、原则上只允许南师附中开发者社社员注册;</li>
    <li>2、用户注册账户后需要经过管理员审核才能转为可登录账户，因此请填写真实有效的信息;</li>
    <li>3、只有经过审核的用户能够在此网站上传自己的作品。</li>
    <li>PS: 如果你觉得审核太慢，可以去线下压力管理员(doge)</li>
  </ul>
  <p>如果你不是开发者社社员，但也想上传自己的作品，你可以：</p>
  <ul>
    <li>1、向网站管理员申请注册账号;</li>
    <li>2、或者找你认识的开发者社社员代为上传(作品作者可以自定义，不与账户关联)。</li>
  </ul>
  <form method="post" action="{% url 'users:register' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button name="submit">注册</button>
    <input type="hidden" name="next" value="{% url 'website_index:index' %}" />
  </form>

{% endblock content %}