{% extends 'website_index/base.html' %}

{% block content %}

<a href="{% url 'products:my_works' %}">返回</a>

<a href="{% url 'products:edit_single_series' series.bango %}">编辑作品集信息</a>

<a href="{% url 'products:new_product' series.bango %}">上传作品！</a>

<p>当前有 {{ pending_product_count }} 个作品尚未审核。</p>

{% if pending_product_count > 0 %}
  <p>PS: 如果你觉得审核太慢，可以去线下压力管理员(doge)</p>
{% endif %}
<ul>
  <p>
    {{ series.name }}<br>
    {{ series.intro|linebreaks }}<br>
    {{ series.author }}<br>
    {{ series.date_added}}<br>
  </p>
    {% for product in products %}
      <li>
        {{ product.name }}<br>
        <a href="{% url 'products:edit_product' series.bango product.id %}">编辑</a><br>
        <a href="{% url 'products:download_file' product.id %}">下载</a><br>
        {{ product.author}}<br>
        {{ product.date_added}}<br>
        {{ product.intro|linebreaks }}<br>
      </li>
    {% empty %}
      <p>此系列暂无作品</p>
    {% endfor %}
</ul>

{% endblock content %}
