{% extends 'website_index/base.html' %}

{% block content %}
<p>我的作品</p>

<p>这里展示你的作品！</p>

<a href="{% url 'products:new_series' %}">上传自己的作品！</a>

<ul>
    {% for single_series in series %}
        <li>
            <a href="{% url 'products:single_series' single_series.bango %}">{{ single_series.name }}</a><br>
            {{ single_series.intro|linebreaks }}<br>
            {{ single_series.author}}<br>
            {{ single_series.date_added}}<br>
        </li>
    {% empty %}
        <p>暂无作品</p>
    {% endfor %}
</ul>

{% endblock content %}