{% extends 'website_index/base.html' %}

{% block content %}
<p>社团作品</p>

<p>这里展示社团成员或集体的作品！</p>

<ul>
    {% for single_series in series %}
        <li>
            <a href="{% url 'products:single_series' single_series.name %}">{{ single_series.name }}</a><br>
            {{ single_series.intro|linebreaks }}<br>
            {{ single_series.author}}<br>
            {{ single_series.date_added}}<br>
        </li>
    {% empty %}
        <p>暂无作品</p>
    {% endfor %}
</ul>

{% endblock content %}